
{% extends "layouts/authlayout.twig" %}
{% block content %}

    <div class="main-wthree">
        <div class="container">
            <div class="sin-w3-agile">
                <h2>Sign Up</h2>
                <form action="/" method="post">
                    <div class="username">
                        <span class="username">Username:</span>
                        <input type="text" name="name" class="name" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="username">
                        <span class="username">Email:</span>
                        <input type="text" name="email" class="name" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Password:</span>
                        <input type="password" name="password" class="password" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Confirm Password:</span>
                        <input type="password" name="password" class="password" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="login-w3">
                        <input type="submit" class="login" value="Sign Up">
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div class="back">
                    <a href="/" class="btn-info">Sign In</a><br>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

